seminar-broadcast-workflow.json
{
  "name": "Seminar Sync Automation - Plugin System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger (06:00 WIB)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// ============================\n// PLUGIN CONFIG — Edit this to add/remove seminar types\n// ============================\n// Each source defines:\n//   type:     Display name (shown in Telegram & Calendar)\n//   sheetUrl: Google Sheets CSV export URL (with gid)\n//   columns:  Column index mapping (0-indexed)\n// ============================\n\nreturn [\n  { json: {\n    type: \"Seminar Hasil\",\n    sheetUrl: \"https://docs.google.com/spreadsheets/d/109HxAVZofGjyDlz-O8pfK4iqYPDXyX7H/export?format=csv&gid=1341055501\",\n    columns: {\n      no: 0, nim: 1, nama: 2,\n      pembimbing1: 3, pembimbing2: 4,\n      penguji1: 5, penguji2: 6,\n      judul: 7, tanggal: 8, hari: 9,\n      jam: 10, link: 11, ruangan: 12\n    }\n  }},\n  { json: {\n    type: \"Seminar Proposal\",\n    sheetUrl: \"https://docs.google.com/spreadsheets/d/109HxAVZofGjyDlz-O8pfK4iqYPDXyX7H/export?format=csv&gid=1605122729\",\n    columns: {\n      no: 0, nim: 1, nama: 2,\n      pembimbing1: 3, pembimbing2: 4,\n      penguji1: 5, penguji2: -1,\n      judul: 6, tanggal: 7, hari: 8,\n      jam: 9, link: 10, ruangan: 11\n    }\n  }}\n];\n"
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Config Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "notes": "PLUGIN CONFIG: Add/remove seminar types here"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Loop Over Sources",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        520,
        0
      ],
      "notes": "Processes one source config at a time"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.sheetUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Fetch CSV (HTTP Request)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 - CONFIGURE ME"
        }
      },
      "notes": "URL comes from Config Sources — no need to edit"
    },
    {
      "parameters": {
        "jsCode": "// =============================================================\n// CSV Parse + Transform + Validate + Hash  (v3 — plugin system)\n// =============================================================\n// Config-driven: reads column mapping from Config Sources node.\n// Handles:\n//   - Multiple semester sections with repeated headers\n//   - Indonesian dates (30 Maret 2024) AND DD-Mon-YYYY (5-Jan-2026)\n//   - Time ranges (09.00-10.40) AND single start times (13.30)\n//   - Missing ruangan or '-' ruangan\n// =============================================================\n\n// ---- Read config from upstream ----\nconst config = $('Loop Over Sources').item.json;\nconst col = config.columns;\nconst seminarType = config.type;\n\n// ---- FNV-1a hash (deterministic, no sign ambiguity) ----\n// Prefixed with 'evt_' to prevent Google Sheets from\n// interpreting hex hashes as scientific notation (e.g. 932e7800 → 9.32E+78)\nfunction eventHash(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = Math.imul(h, 16777619);\n    h = h >>> 0;\n  }\n  return 'evt_' + h.toString(16).padStart(8, '0');\n}\n\n// ---- CSV Parser (handles quoted fields with commas) ----\nfunction parseCsvToArrays(csvText) {\n  const lines = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < csvText.length; i++) {\n    const ch = csvText[i];\n    if (ch === '\"') {\n      current += ch;  // PRESERVE quotes for field parser\n      if (inQuotes && csvText[i + 1] === '\"') { current += '\"'; i++; }\n      else { inQuotes = !inQuotes; }\n    } else if (ch === '\\n' && !inQuotes) {\n      lines.push(current); current = '';\n    } else if (ch === '\\r' && !inQuotes) {\n      /* skip */\n    } else { current += ch; }\n  }\n  if (current.length > 0) lines.push(current);\n\n  return lines.map(line => {\n    const fields = []; let field = ''; let inQ = false;\n    for (let i = 0; i < line.length; i++) {\n      const ch = line[i];\n      if (ch === '\"') {\n        if (inQ && line[i + 1] === '\"') { field += '\"'; i++; }\n        else { inQ = !inQ; }\n      } else if (ch === ',' && !inQ) {\n        fields.push(field.trim()); field = '';\n      } else { field += ch; }\n    }\n    fields.push(field.trim());\n    return fields;\n  });\n}\n\n// ---- Month maps ----\nconst BULAN = {\n  'januari':0,'februari':1,'maret':2,'april':3,'mei':4,'juni':5,\n  'juli':6,'agustus':7,'september':8,'oktober':9,'october':9,\n  'november':10,'desember':11,'december':11\n};\nconst BULAN_SHORT = {\n  'jan':0,'feb':1,'mar':2,'apr':3,'may':4,'jun':5,\n  'jul':6,'aug':7,'sep':8,'oct':9,'nov':10,'dec':11\n};\n\nfunction parseDate(s) {\n  if (!s) return null;\n  const t = s.trim();\n  const dashMatch = t.match(/^(\\d{1,2})-(\\w+)-(\\d{4})$/);\n  if (dashMatch) {\n    const d = parseInt(dashMatch[1]);\n    const mKey = dashMatch[2].toLowerCase().substring(0, 3);\n    const m = BULAN_SHORT[mKey];\n    const y = parseInt(dashMatch[3]);\n    if (!isNaN(d) && m !== undefined && !isNaN(y)) return { year: y, month: m, day: d };\n  }\n  const p = t.split(/\\s+/);\n  if (p.length >= 3) {\n    const d = parseInt(p[0]);\n    const mLower = p[1].toLowerCase();\n    const m = BULAN[mLower] !== undefined ? BULAN[mLower] : BULAN_SHORT[mLower.substring(0, 3)];\n    const y = parseInt(p[2]);\n    if (!isNaN(d) && m !== undefined && !isNaN(y)) return { year: y, month: m, day: d };\n  }\n  return null;\n}\n\nfunction parseTimeRange(s) {\n  if (!s) return null;\n  const cleaned = s.replace(/\\s*(WIB|WITA|WIT)\\s*/gi, '').trim();\n  const norm = cleaned.replace(/[\\s,\\-]+$/, '');\n  const parts = norm.split(/\\s*-\\s*/);\n  const parse = t => {\n    const m = t.trim().match(/^(\\d{1,2})[.:](\\d{2})$/);\n    return m ? { h: parseInt(m[1]), m: parseInt(m[2]) } : null;\n  };\n  const start = parse(parts[0]);\n  if (!start) return null;\n  if (parts.length >= 2 && parts[1]) {\n    const end = parse(parts[1]);\n    if (end) return { sh: start.h, sm: start.m, eh: end.h, em: end.m };\n  }\n  let eh = start.h + 2, em = start.m;\n  if (eh >= 24) eh -= 24;\n  return { sh: start.h, sm: start.m, eh, em };\n}\n\nfunction toISO(y, mo, d, h, mi) {\n  const pad = n => String(n).padStart(2, '0');\n  return `${y}-${pad(mo+1)}-${pad(d)}T${pad(h)}:${pad(mi)}:00+07:00`;\n}\n\n// ===== MAIN =====\nconst raw = $input.first().json['data'];\nif (!raw) return [];\n\nconst allRows = parseCsvToArrays(raw);\nif (allRows.length < 2) return [];\n\nconst results = [];\n\nfor (let i = 0; i < allRows.length; i++) {\n  const c = allRows[i];\n\n  const firstCell = (c[0] || '').trim().toLowerCase();\n  if (c.length < 8) continue;\n  if (firstCell.startsWith('semester')) continue;\n  if (firstCell === 'no' || firstCell === 'fy') continue;\n\n  const nim = (c[col.nim] || '').trim();\n  if (!nim || !/^\\d+$/.test(nim)) continue;\n\n  const nama        = (c[col.nama]        || '').trim();\n  const pembimbing1 = (c[col.pembimbing1] || '').trim();\n  const pembimbing2 = (c[col.pembimbing2] || '').trim();\n  const penguji1    = (c[col.penguji1]    || '').trim();\n  const penguji2    = col.penguji2 >= 0 ? (c[col.penguji2] || '').trim() : '';\n  const judul       = (c[col.judul]       || '').trim();\n  const tanggal     = (c[col.tanggal]     || '').trim();\n  const hari        = (c[col.hari]        || '').trim();\n  const jam         = (c[col.jam]         || '').trim();\n  const link        = (c[col.link]        || '').trim();\n  let   ruangan     = (c[col.ruangan]     || '').trim();\n  if (ruangan === '-') ruangan = '';\n\n  if (!nama || !tanggal || !jam) continue;\n\n  const pd = parseDate(tanggal);\n  if (!pd) continue;\n  const pt = parseTimeRange(jam);\n  if (!pt) continue;\n\n  const startDt = toISO(pd.year, pd.month, pd.day, pt.sh, pt.sm);\n  const endDt   = toISO(pd.year, pd.month, pd.day, pt.eh, pt.em);\n  const eventHashId = eventHash(`${seminarType}|${nim}|${startDt}`);\n\n  results.push({ json: {\n    seminar_type: seminarType,\n    nim, nama, tanggal, hari, jam, ruangan, judul, link,\n    pembimbing1, pembimbing2, penguji1, penguji2,\n    start_datetime: startDt,\n    end_datetime: endDt,\n    event_hash_id: eventHashId,\n    calendar_summary: `[${seminarType}] ${nama} - ${nim}`,\n    calendar_location: ruangan ? `Ruangan ${ruangan}` : 'TBA',\n    calendar_description: `Judul: ${judul}\\nNIM: ${nim}\\nPembimbing 1: ${pembimbing1}\\nPembimbing 2: ${pembimbing2}\\nPenguji 1: ${penguji1}${penguji2 ? '\\nPenguji 2: ' + penguji2 : ''}${link ? '\\nLink: ' + link : ''}`\n  }});\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Parse & Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "notes": "Config-driven column mapping from Config Sources"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "YOUR_STATE_SHEET_URL_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "State"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Read State Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1040,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 - CONFIGURE ME"
        }
      },
      "notes": "SETUP: Set your State Sheet URL"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 2,
        "query": "SELECT input1.*\nFROM input1\nLEFT JOIN input2 ON input1.event_hash_id = input2.event_hash_id\nWHERE input2.event_hash_id IS NULL",
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Idempotency Filter (New Events Only)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1300,
        0
      ],
      "notes": "LEFT JOIN + WHERE NULL: only new events pass through"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-check-has-data",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Has New Events?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        0
      ],
      "notes": "Routes to processing if there are new events"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "primary"
        },
        "start": "={{ $json.start_datetime }}",
        "end": "={{ $json.end_datetime }}",
        "additionalFields": {
          "summary": "={{ $json.calendar_summary }}",
          "location": "={{ $json.calendar_location }}",
          "description": "={{ $json.calendar_description }}",
          "conferenceDataVersion": 0,
          "guestsCanModify": false
        },
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        1820,
        -200
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 18000,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar OAuth2 - CONFIGURE ME"
        }
      },
      "notes": "Runs in parallel with Telegram. Retries 3x on failure."
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "text": "={{ \n(function() {\n  function escMd2(str) {\n    if (!str) return '';\n    return String(str).replace(/([_*\\[\\]()~`>#+\\-=|{}.!\\\\])/g, '\\\\$1');\n  }\n  const seminarType = escMd2($json.seminar_type);\n  const nama = escMd2($json.nama);\n  const nim = escMd2($json.nim);\n  const judul = escMd2($json.judul);\n  const hari = escMd2($json.hari);\n  const tanggal = escMd2($json.tanggal);\n  const jam = escMd2($json.jam);\n  const ruangan = escMd2($json.ruangan);\n  const penguji1 = escMd2($json.penguji1);\n  const penguji2 = escMd2($json.penguji2);\n  \n  let msg = `📢 *JADWAL ${seminarType.toUpperCase()}*\\n\\n` +\n    `👤 *Nama:* ${nama}\\n` +\n    `🆔 *NIM:* ${nim}\\n` +\n    `📝 *Judul:* ${judul}\\n\\n` +\n    `📅 *Hari/Tanggal:* ${hari}, ${tanggal}\\n` +\n    `🕐 *Jam:* ${jam} WIB\\n` +\n    `📍 *Ruangan:* ${ruangan}\\n\\n` +\n    `👨‍🏫 *Penguji 1:* ${penguji1}\\n`;\n  if (penguji2) msg += `👩‍🏫 *Penguji 2:* ${penguji2}\\n`;\n  msg += `\\nThis message was sent automatically with n8n`;\n  return msg;\n})()\n}}",
        "parse_mode": "MarkdownV2",
        "additionalFields": {
          "disable_notification": false
        }
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Telegram Broadcast",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1820,
        0
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 18000,
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot API - CONFIGURE ME"
        }
      },
      "notes": "Runs in parallel with Calendar. Dynamic seminar type header."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "YOUR_STATE_SHEET_URL_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "State"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_hash_id": "={{ $json.event_hash_id }}",
            "seminar_type": "={{ $json.seminar_type }}",
            "nim": "={{ $json.nim }}",
            "nama": "={{ $json.nama }}",
            "tanggal": "={{ $json.tanggal }}",
            "processed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "event_hash_id",
              "displayName": "event_hash_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "seminar_type",
              "displayName": "seminar_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nim",
              "displayName": "nim",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nama",
              "displayName": "nama",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tanggal",
              "displayName": "tanggal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Update State Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1820,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 - CONFIGURE ME"
        }
      },
      "notes": "SETUP: Set your State Sheet URL. Now includes seminar_type column."
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "No New Events (Skip)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1820,
        400
      ],
      "notes": "All events already processed — loops back to next source"
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Done Processing Source",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2080,
        0
      ],
      "notes": "Merges parallel outputs, loops back to next source"
    }
  ],
  "connections": {
    "Schedule Trigger (06:00 WIB)": {
      "main": [
        [
          {
            "node": "Config Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Sources": {
      "main": [
        [
          {
            "node": "Loop Over Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Sources": {
      "main": [
        [
          {
            "node": "Fetch CSV (HTTP Request)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read State Sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch CSV (HTTP Request)": {
      "main": [
        [
          {
            "node": "Parse & Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Transform Data": {
      "main": [
        [
          {
            "node": "Idempotency Filter (New Events Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read State Sheet": {
      "main": [
        [
          {
            "node": "Idempotency Filter (New Events Only)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Idempotency Filter (New Events Only)": {
      "main": [
        [
          {
            "node": "Has New Events?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Events?": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Broadcast",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update State Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Events (Skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Done Processing Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Broadcast": {
      "main": [
        [
          {
            "node": "Done Processing Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State Sheet": {
      "main": [
        [
          {
            "node": "Done Processing Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No New Events (Skip)": {
      "main": [
        [
          {
            "node": "Loop Over Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Processing Source": {
      "main": [
        [
          {
            "node": "Loop Over Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Jakarta"
  },
  "staticData": null,
  "tags": [
    {
      "name": "seminar",
      "id": "tag-seminar"
    },
    {
      "name": "automation",
      "id": "tag-automation"
    },
    {
      "name": "plugin",
      "id": "tag-plugin"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-23T09:06:43.764Z",
  "versionId": "4"
}